@{
    ViewData["Title"] = "Password Generator";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to generate a password</p>

<section>
    <button asp-controller="Home" asp-action="GetPassword" type="submit">Generate!</button>
    
    <p>@ViewData["Password"]</p>        
    <button>copy to clipboard</button>
    <p>Save to your locker</p>
    <p>Name of App</p>
    <textarea></textarea>
    <p>App Username/Email</p>
    <textarea></textarea>
    <button>Save!</button>
</section>
