@{
    ViewData["Title"] = "Password Generator";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to generate a password</p>

<section>
    <form action="" method="post">
        <button formaction="GetPassword" type="submit">Generate!</button>
    </form>

    <p>@ViewData["Password"]</p>
    <p>Save to your locker</p>
    <form>
        <p>Name of App</p>
        <textarea></textarea>
        <p>App Username/Email</p>
        <textarea></textarea>
        <button>Save!</button>
    </form>
</section>
