@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-3">
        <h2>Welcome to Password Generator!</h2>
        <ul>
            <li>Point</li>
            <li>Point</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Apps stored in Locker</h2>
        <ul>
            <li>List Of Apps</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li>Point</li>
            <li>Point</li>
            
        </ul>
    </div>
    
</div>
